@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@media (max-width: 768px) {
  .mobile-tone-arm-fix {
    z-index: 50 !important;
    overflow: visible !important;
    transform: translateZ(0);
  }
}

@font-face {
  font-family: "Handwriting";
  src: url("/fonts/Myfont-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Handwriting", sans-serif;
}
